<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Not Found | Social Commerce</title>
</head>
<body>
  <h1>Maaf Halaman Tidak Ditemukan</h1>
  <a class="btn" href="/">Daftar Produk</a>
</body>
</html>