<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Post | Social Commerce</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1><%= post.product.name %></h1>
    <p>Harga: Rp. <%= post.price.toLocaleString() %></p>
    <p>Tanggal: <%= post.createdAt %></p>
    <a href="/posts">Lihat Semua postingan</a>
    <hr>
    <p>
        <%= post.content %>
    </p>
  </div>
</body>
</html>