html
  head
    title= title
  body
    h1 Buat Postingan
    a(class='button', href='/') Kembali
    hr
    form(action='/create', method='post')
      label(for='post') Isi postingan
      br
      textarea(name='post', id='post')