<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Buat Product | Social Commerce</title>
</head>
<body>
  <h1>Buat Produk</h1>
  <a class="btn" href="/">Kembali</a>
  <hr>
  <form action="/create">
    <div>
      <label for="name">Nama</label>
      <input type="text" name="name" id="name">
    </div>
    <button type="submit">Tambah</button>
  </form>
</body>
</html>